<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Gochi+Hand" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Sign Me Up! - Student Login</title>
  </head>
  <body>
    <div id="logo">
      <h1>Sign Me Up!</h1>
    </div>
    <div class="login">
      <form class="" action="#" method="post">
      <ul>
        <li>
        <select>
            <option value="organisation">{{organisationName}}</option>
        </select>
        </li>
        <li>
          ID: <input type="text" name="id" />
        </li>
        <li>
        Password: <input type="text" name="password" />
      </li>
      </form>
    </div>
  </body>
</html>
